.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    background: #76f07c;
    color: #0a660e;
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }
  